*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Francois One', sans-serif;
}
body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
} 

.container{
  position:sticky;
  margin-top:5rem;
  background:url("background\ image.jpg")no-repeat;
  height:35rem;
}


header{
  padding: 2rem 1rem;
  max-width: 800px;
  width:100%;
  margin:0 auto;
}
header h1{
  font-size: 2.5rem;
  font-weight: 300;
  color:rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#new-task-form{
  display:flex;
}

input,button{
  border:none;
  outline:none;
  background:none;
}

#new-task-input{
  flex: 1 1 0%;
  background-color:rgb(116, 143, 116);
  padding: 1rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  color:black;
  font-size: 1.25rem;
}
#new-task-input::placeholder{
  color:black;
}
#new-task-submit{
  color: green;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, rgb(29, 143, 29),rgb(163,163, 29));
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

#new-task-submit:hover{
  opacity:0.8;
}
#new-task-submit:active{
  opacity: 0.6;
}
main{
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  width:100%;
  margin:0 auto;
}

.task-list{
  padding:1rem;
}

.task-list h2{
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(202, 192, 192);
  margin-bottom: 1rem;
}
/* #tasks{
  margin-left:-3rem;
}*/

.task-list{
  margin-top: -3rem;
}

#tasks .task{
  display:flex;
  justify-content: space-between;
  background-color: rgb(10, 54, 25);
  padding:1rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  border: 2px solid rgb(39, 182, 51);
  box-shadow: 2px 2px 4px 1px rgb(163, 163, 29);
}
#tasks .task .content{
  flex: 1 1 0%;
}
#tasks .task .content .text{
  color:white;
  font-size: 1.125rem;
  width: 100%;
  display:block;
  transition: 0.4s;
}
#tasks .task .content .text:not(:read-only){
  color: rgb(134, 214, 134);
}

#tasks .task .actions{
   display:flex;
   margin: 0 -0.5rem;
}

.task .actions button{
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover{
  opacity:0.8;
}
.task .actions button:active{
  opacity: 0.6;
}
.task .actions .edit{
  background-image: linear-gradient(to right, rgb(29, 143, 29),rgb(163, 163, 29));
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}
.task .actions .delete{
  color:crimson;
}

.box{
  border: 2px solid green;
  height: 2rem;
  width:2rem;
  visibility: none;
  margin-right: 1rem;
}
.actions img{
  display: none;
}
.tick img{
  border: 2px solid green;
  height: 2rem;
  width:2rem;
  margin: auto;
  display: block;
  margin-right: 1rem;
}